# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Selenium WebDriver
*.log
geckodriver.log
chromedriver.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
*.png
generate_car_survey.py
generated_car_survey_responses.csv 